# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# Visual Studio
.vs/
*.vsidx
launchSettings.json

# Node / Frontend
node_modules/
dist/
package-lock.json

# OS
.DS_Store
Thumbs.db

# Templates
*.xslt

# Misc
*.log
*.tmp
